<section id="about-us" class="about-us">
  <p><br/></p>
  <div class="container about-container">
    <div class="wrapper-text">
      <h2 class="title-about-us">About Us</h2>
      <p class="text-about-us">
        We are a family owned company originally from Ukraine and have been in the industry for 20+ years. Our mission
        is to
        help our clients achieve their goals with honesty, respect and impeccable craftsmanship. We aim to build
        long-lasting
        relationships with our clients and are proven to be reliable for each job.
      </p>

    </div>

    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3542.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3543.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3544.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3542.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3543.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3544.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3542.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3543.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3544.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3542.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3543.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3544.jpg" alt="" width="600" height="600"></div>

      </div>
      <div class="swiper-pagination"></div>

    </div>
  </div>
</section>