<section id="about-us" class="about-us-bg-image ">
  <div class="container about-us">
    <div class="wrapper-text">
      <h2 class="title-about-us">About Us</h2>
      <p class="text-about-us">
        <span class="text-first-line"> Welcome to our remodeling services in Jersey City!</span> We specialize in
        transforming
        bathrooms, kitchens, and living
        spaces
        to meet your unique style and needs. Our team of skilled professionals is dedicated to delivering high-quality
        craftsmanship and exceptional customer service. Whether you're looking to modernize your bathroom, renovate your
        kitchen, or refresh your living room, we're here to bring your vision to life. Contact us today to schedule a
        consultation and let's turn your dream home into a reality!
      </p>
      <p class="text-about-us">
        <span class="text-first-line">Our commitment</span> to excellence sets us apart in the remodeling industry. With
        years of experience and a keen eye
        for
        detail, we ensure every project is completed with precision and care. Our personalized approach means we work
        closely
        with you from concept to completion, listening to your ideas and offering expert advice along the way.
        Additionally, we
        prioritize transparency and clear communication, keeping you informed at every stage of the process.
      </p>
      <p class="text-about-us"><span class="text-first-line">Trust</span> us to
        enhance
        your home with innovative design, quality materials, and superior craftsmanship. Experience the difference with
        our
        remodeling services in Jersey City.
      </p>
    </div>
    <img class="img" src="./img/gallery-pictures/IMG_3557.jpg" alt="About Us" loading="lazy" width="650" />

  </div>
</section>