<section id="about-us" class="about-us">
  <div class="container about-container">
    <div class="wrapper-text">
      <h2 class="title-about-us">About Us</h2>
      <p class="text-about-us">
        Our company offers professional apartment renovation services in the state of New Jersey. We bring a unique
        approach and quality solutions to each project to ensure our clients achieve the best
        results.
      </p>

    </div>

    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3542.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3543.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3544.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3542.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3543.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3544.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3542.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3543.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3544.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3542.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3543.jpg" alt="" width="600" height="600"></div>
        <div class="swiper-slide"><img src="./img/gallery-pictures/IMG_3544.jpg" alt="" width="600" height="600"></div>

      </div>
      <div class="swiper-pagination"></div>

    </div>
  </div>
</section>