<section class="cooperation-section">
    <div class="container cooperation-container">

        <div class="gallery-link-container">
            <a href="#" class="gallery-link"><span>Our portfolio</span></a>
        </div>



        <div class="swiper mySwiper">
            <div class="parallax-bg" data-swiper-parallax="-23%"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide cooperation-swiper-slide">
                    <div class="title" data-swiper-parallax="-300">Stage 1</div>
                    <div class="subtitle" data-swiper-parallax="-200">Consultation and Requirement Discussion</div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                            The first stage involves establishing contact with the renovation company. The client meets
                            with company representatives
                            to discuss their needs, desires, and requirements regarding the renovation. At this stage,
                            it's essential to determine
                            the scope of work, budget, timelines, and other key project aspects.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide cooperation-swiper-slide">
                    <div class="title" data-swiper-parallax="-300">Stage 2</div>
                    <div class="subtitle" data-swiper-parallax="-200">Design Development</div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                            After the consultation, the company develops a design project that meets the client's needs
                            and budget. This stage
                            includes finalizing planning, selecting materials, color schemes, and other details
                            necessary for the renovation.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide cooperation-swiper-slide">
                    <div class="title" data-swiper-parallax="-300">Stage 3</div>
                    <div class="subtitle" data-swiper-parallax="-200">Contract Signing</div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                            After the design approval and agreement on all project details, the client and the company
                            sign a contract for the
                            renovation services. This contract documents all the terms of collaboration, including the
                            scope of work, cost,
                            timelines, and other conditions.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide cooperation-swiper-slide">
                    <div class="title" data-swiper-parallax="-300">Stage 4</div>
                    <div class="subtitle" data-swiper-parallax="-200">Execution of Renovation Works</div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                            Upon contract signing, the company's team of professionals begins executing the renovation
                            works according to the agreed
                            plan. During the works, the company ensures the quality and compliance of all works with
                            safety standards and building
                            regulations.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide cooperation-swiper-slide">
                    <div class="title" data-swiper-parallax="-300">Stage 5</div>
                    <div class="subtitle" data-swiper-parallax="-200">Completion and Project Handover</div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                            After the completion of renovation works, the client and company representatives conduct a
                            final inspection and
                            acceptance of the works. If the client is satisfied with the results, the project is
                            considered complete, and the
                            company hands over the keys to the newly renovated or updated apartment or house to the
                            client.
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>


<script>




</script>