<section class="exp-card-section">
    <h2 class="exp-title" id="portfolio">Our portfolio</h2>
    <div class="container exp-container">

        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3545.jpg')">
        </div>
        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3546.jpg')">
        </div>
        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3544.jpg')">
        </div>
        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3542.jpg')">
        </div>
        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3543.jpg')">
        </div>
    </div>
    <div data-fancybox="gallery"></div>
    <div class="link-container-gallery">
        <a href="./gallery.html" class="more-photos" target="_self">*Click here to see more photos</a>
    </div>

</section>