<section class="faq-section" id="faq-section">
  <div class="container">

    <h2 class="faq-title-section">FAQ</h2>

    <ul class="faq-list accordion-container" id="accordion">
      <li class="faq-list-item ac ac-first">

        <h3 class="first-header ac-header">
          <p>What should the customer know about your pricing (e.g., discounts, fees)?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            We aim to give the best prices to our clients while maintaining the highest level of quality and detail to
            our work. Our
            relationship with our clients is our top priority.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-second">

        <h3 class="first-header ac-header">
          <p>What is your typical process for working with a new customer?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            The initial consultation will be a quick phone call 10-15 minutes. If the client is interested, we will
            schedule an
            in-person meeting to discuss the proposal and project timeline.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac ac-first">

        <h3 class="first-header ac-header">
          <p>What education and/or training do you have that relates to your work?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            We are a family owned business that has been in the industry for 20+ years. Our team is experienced in all
            aspects of
            home remodeling and custom design.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-second">

        <h3 class="first-header ac-header">
          <p>How did you get started doing this type of work?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Our family has always been in the field of construction.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-first">

        <h3 class="first-header ac-header">
          <p>What types of customers have you worked with?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Our main projects are for residential homes and have also worked in offices and small business spaces.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-second">

        <h3 class="first-header ac-header">
          <p>Describe a recent project you are fond of. How long did it take?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            We worked on a total gut remodel of a 1 bedroom duplex condo in Jersey City that included kitchen, bathroom,
            hardwood
            floors and brand new appliance installation. The client wanted a new and modern look for their new home.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac ac-second">

        <h3 class="first-header ac-header">
          <p>What advice would you give a customer looking to hire a provider in your area of work?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            Look through their project history and read reviews from past clients. Look for a contractor that is
            professional and
            listens to your requests.
          </p>
        </div>
      </li>
    </ul>

  </div>
</section>