<section class="faq-section" id="faq-section">
  <div class="container">
    <h2 class="faq-title-section">FAQ</h2>

    <ul class="faq-list accordion-container" id="accordion">
      <li class="faq-list-item ac ac-first">

        <h3 class="first-header ac-header">
          <p>What programming languages are most often used in your
            project?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-second">

        <h3 class="first-header ac-header">
          <p>What programming languages are most often used in your
            project?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac ac-first">

        <h3 class="first-header ac-header">
          <p>What programming languages are most often used in your
            project?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-second">

        <h3 class="first-header ac-header">
          <p>What programming languages are most often used in your
            project?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-first">

        <h3 class="first-header ac-header">
          <p>What programming languages are most often used in your
            project?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item ac ac-second">

        <h3 class="first-header ac-header">
          <p>What programming languages are most often used in your
            project?</p>
          <button type="button" class="ac-trigger" aria-label="accordion button">

            <svg class="faq-accordion-icon" aria-label="accordion icon">
              <use href="./img/icons.svg#icon-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>