<section class="faq-section" id="faq">
    <div class="faq-container container">
        <h1 class="faq-title">Frequently Asked Questions</h1>
        <div class="faq-container">
            <div class="faq">
                <h3 class="faq-title">
                    How long does a typical apartment renovation usually take?
                </h3>

                <p class="faq-text">
                    The duration of an apartment renovation can vary depending on the scope of work and project
                    complexity. Typically, a
                    standard apartment renovation takes from several weeks to a month.
                </p>

                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    What types of renovation services do you offer?
                </h3>
                <p class="faq-text">
                    We specialize in a wide range of renovation services, including floor replacement, kitchen and
                    bathroom
                    remodeling, painting, and much more.
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    What materials do you use for renovations?
                </h3>
                <p class="faq-text">
                    We use only high-quality materials from trusted suppliers to ensure durability and work quality.
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    Do you provide a warranty for your renovation work?
                </h3>
                <p class="faq-text">
                    Yes, we provide a warranty for all completed work. Our team is always ready to address any issues
                    that may arise
                    after the completion of the renovation.
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="faq">
                <h3 class="faq-title">
                    Can I get a free consultation before starting the renovation?
                </h3>
                <p class="faq-text">
                    Of course! We are always happy to provide a free consultation and project evaluation before starting
                    renovation
                    work. Contact us to schedule a meeting.
                </p>
                <button class="faq-toggle">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

    </div>
</section>