<footer class="footer">
    <div class="footer-container container">

        <div class="footer-column">
            <h3>Contact Us</h3>


            <a class="contact-information phone-number phone-number-footer" href="tel:+16316336504">+1(631)-633-6504</a>
            <a class="contact-information email-address email-address-footer"
                href="mailto:taraskatyk@gmail.com">taraskatyk@gmail.com</a>
        </div>
        <div class="footer-column">

            <ul>
                <li><a href="#order-link">Order</a></li>
                <li><a href="#about-us">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#faq">FAQ</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 @mtsiuniak. All Rights Reserved.</p>
    </div>
</footer>