<footer class="footer">
    <div class="footer-container container">
        <h2 class="footer-title">Contact us</h2>
        <div class="footer-column">
            <ul class="footer-list">
                <li>
                    <a class="contact-information phone-number phone-number-footer"
                        href="tel:+16316336504">(631)-633-6504</a>
                </li>
                <li>
                    <a class="contact-information email-address email-address-footer"
                        href="mailto:taraskatyk@gmail.com">taraskatyk@gmail.com</a>
                </li>
                <li><a href="#order-link">Order</a></li>
                <li><a href="#about-us">About us</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="#faq-section">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024. created by @mtsiuniak. </p>
        </div>
</footer>
<button id="scrollToTopBtn" class="scroll-to-top-btn" title="Go to top">
    <svg class="icon-top" style="transform: rotate(180deg);" width="44" height="44">
        <use xlink:href="./img/icons.svg#icon-arrow-down"></use>
    </svg>
</button>