<header class="header-page">
    <div class="container header-container">
        <a class="middle" href="../index.html">
            <img class="middle-img" src="../img/main-logo.png"  alt="logo">
        </a>
        <div class="header-left-part">
            <nav class="navigation">
                
            
                <ul class="navigation-menu">
                    
                    <li class="navigation-item smooth-scroll">
                        <a class="navigation-link smooth-scroll" href="/pages/gallery.html">Portfolio</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link smooth-scroll" href="#about-us">About us</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link smooth-scroll" href="#cooperation-section">Our services</a>
                    </li>

                </ul>
            </nav>

        </div>

        


        <div class="header-right-part">

            <!-- <address class="address-info">
                <a class="navigation-link phone-number" href="tel:+16316336504">(631)-633-6504</a>
                <a class="navigation-link email-address" href="mailto:taraskatyk@gmail.com">taraskatyk@gmail.com</a>
            </address> -->
            <a class="order-service-button" href="#order-link">Let's contact</a>


            <button class="mobile-open-btn" type="button">
                <svg class="mobile-open-btn-icon" width="44" height="30">
                    <use href="../img/icons.svg#icon-burger"></use>
                </svg>
            </button>

        </div>


    </div>
</header>