<header class="header-page">
    <div class="container header-container">
        <div class="header-left-part">
            <nav class="navigation">
                <a class="logo" href="./index.html">
                    <svg class="icon icon-paint" width="44" height="44">
                        <use xlink:href="./img/icons.svg#icon-paint"></use>
                    </svg>
                </a>

                <ul class="navigation-menu">
                    <li class="navigation-item">
                        <a class="navigation-link smooth-scroll" href="#about-us">About us</a>
                    </li>
                    <li class="navigation-item smooth-scroll">
                        <a class="navigation-link smooth-scroll" href="#order-link">Get information</a>
                    </li>

                </ul>
            </nav>

        </div>


        <div class="header-right-part">

            <address class="address-info">
                <a class="navigation-link phone-number" href="tel:+16316336504">(631)-633-6504</a>
                <a class="navigation-link email-address" href="mailto:taraskatyk@gmail.com">taraskatyk@gmail.com</a>
            </address>

            <ul class="social-link-list">
                <li class="social-list-item">
                    <a class="header-link" href="https://www.facebook.com/goITclub/" target="_blank">
                        <svg class="header-icons" width="28" height="28">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a class="header-link" href="https://www.instagram.com/goitclub/" target="_blank">
                        <svg class="header-icons" width="28" height="28">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list-item">
                    <a class="header-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                        <svg class="header-icons" width="28" height="28">
                            <use href="./img/icons.svg#icon-you-tube"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <button class="mobile-open-btn" type="button">
                <svg class="mobile-open-btn-icon" width="44" height="30">
                    <use href="./img/icons.svg#icon-burger"></use>
                </svg>
            </button>

        </div>


    </div>
</header>