<section class="mobile-menu">
  <button class="button-close" type="button">
    <svg class="close-img" width="18" height="18">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div class="tell-box">
    <a class="menu-tel" href="tel:+380684439426">(631)-633-6504</a>
  </div>
  <div class="tell-box">
    <a class="menu-tel" href="mailto:taraskatyk@gmail.com">taraskatyk@gmail.com</a>
  </div>


  <div class="main-nav-box">
    <ul class="main-nav-list">
      <li><a href="index.html#about-us" class="main-nav-link">About us</a></li>
      <li>
        <a href="index.html#portfolio" class="main-nav-link">Our portfolio</a>
      </li>
      <li>
        <a href="index.html#faq" class="main-nav-link">FAQ</a>
      </li>
      <li><a href="index.html#order-link" class="main-nav-link">Get consultation</a></li>
    </ul>
  </div>
</section>