<section class="mobile-menu">

 

  <button class="button-close" type="button">
    <svg class="close-img" width="18" height="18">
      <use href="../img/icons.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="mob-menu-list">

    <li>
      <a class="mob-menu-link" href="tel:+380684439426">Call us</a>
    </li>

    <li>
      <a class="mob-menu-link" href="mailto:grandeurhomeimprovements@gmail.com">Email us</a>
    </li>

    <li>
      <a class="mob-menu-link" href="index.html#about-us">About us</a>
    </li>

    <li>
      <a class="mob-menu-link" href="../pages/gallery.html">Gallery</a>
    </li>

    <li>
      <a class="mob-menu-link" href="index.html#faq-section">FAQ</a>
    </li>

    <li>
      <a class="mob-menu-link" href="index.html#order-link">Get consultation</a>
    </li>

  </ul>

  <a class="middle mobile-menu-logo" href="../index.html">
    <img class="middle-img" src="../img/main-logo.png"  alt="logo">
</a>

</section>