<section class="swiper-section">
    <div class="container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3542.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3543.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3544.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3542.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3543.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3544.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3542.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3543.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3544.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3542.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3543.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/gallery-pictures/IMG_3544.jpg" alt=""></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section>