.about-us {
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.swiper-container {
    position: relative;
    height: 375px;
    width: 100%;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-container .swiper-pagination-bullet {
    background: #070707;
    width: 12px;
    height: 12px;
}

.title-about-us {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
}

.text-about-us {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    text-indent: 32px;
    letter-spacing: -0.04em;
}

.wrapper-text {
    display: block;
    background-color: #191616;
    padding: 20px;
    max-width: 335px;
    border-radius: 4px;
}

@media screen and (min-width:768px) {
    .swiper-container{
        height: 600px;
    }
  
    .about-container {
        flex-direction: column;
            gap: 50px;
            justify-content: space-between;
    }

    .wrapper-text {
        min-width: 704px;
    }

    .title-about-us {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -0.03em;
    }

}

@media screen and (min-width:1280px) {
    .about-container {
            flex-direction: row;
           
        }
    .swiper-container {
            position: relative;
            height: 700px;
            width: 100%;
        }
        .wrapper-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 700px;
            min-width: 600px;
            height: 100%;
            padding-top: 80px;
            padding-bottom: 100px;
        }
        .title-about-us{
            margin: 0;
        }
        .text-about-us {
            font-size: 40px;
        }

        

}

