.faq-section {
  padding-bottom: 50px;
  padding-top: 50px;
}
.faq-list {
  display: flex;
  flex-wrap: wrap;
}
#accordion .ac .ac-trigger::after {
  line-height: 0;
  content: '';
  right: 0;
}
.faq-accordion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #fafafa;
  border-radius: 50%;
}
.ac-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-list-item p {
  max-width: 450px;
}
.ac-second {
  border-right: none;
}

.faq-list .faq-list-item {
  background-color: #070707;
  padding: 32px 16px;
  margin: 0;
}
.faq-list .ac {
  border-left: none;
  border-right: none;
  border-bottom: none;
  
}
.faq-list .faq-list-item .ac-trigger {
  color: #fafafa;
  width: 18px;
}
#accordion .ac-trigger[aria-expanded='true'] .faq-accordion-icon {
  transform: rotate(180deg);
}

.faq-list .faq-list-item .ac-panel .ac-text {
color: #f3ecdde6;
}

@media (min-width: 1280px) {
  .faq-list-item {
    width: 600px;
  }

  .faq-list .ac-third,.faq-list .ac-fifth,.faq-list .ac-first{
    border-right: 1px solid white;
  }

  .faq-list .faq-list-item {
    padding: 32px 20px;
  }
}