.header-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 99999;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-menu {
    display: none;
}
.header-right-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
.navigation-link {
    position: relative;
    display: block;
    color: rgba(243, 236, 221, 0.9);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    padding: 14px 28px;
    border-radius: 12px;
    line-height: 1.29;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: transform 250ms linear;
}
.navigation-link:hover,
.navigation-link:focus {
    transform: translateY(-5px);
}
.navigation-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: rgba(243, 236, 221, 0.9);
    transition: all 300ms linear;
}
.navigation-link:hover::after {
    transform: scale(1);
}
.email-address {
    display: none;
}
.phone-number {
    display: block;
}
.social-link-list {
    display: none;
    gap: 12px;
    justify-content: center;
    align-items: center;
}
.header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid rgba(243, 236, 221, 0.9);
    background: #3B3B3B;
    transition: background-color 250ms linear;
}
.header-link:focus,
.header-link:hover {
    background-color: #070707;
}
.icon-paint {
    fill: rgba(243, 236, 221, 0.9);
    transition: all 300ms linear, fill 300ms linear;
}
.icon-paint:hover, .icon-paint:focus {
    fill: #3B3B3B;
}
.mobile-open-btn-icon {
    stroke: #070707;
}
.mobile-open-btn {
    background-color: transparent;
    border: none;
    line-height: 0;
    letter-spacing: 0;
    padding: 0;
}
@media screen and (min-width: 768px) {
    .header-right-part {
        gap: 20px;
    }
    .address-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    .email-address {
        display: block;
    }
    .mobile-open-btn-icon {
        width: 54px;
        height: 40px;
    }
    .social-link-list {
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1280px) {
    .mobile-open-btn {
        display: none;
    }
    .navigation-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }
    .email-address {
        display: block;
    }
}