
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
      url(../img/gallery-pictures/hero-bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  /* padding-bottom: 300px; */
  min-width: 320px;
  height: 100vh;
  filter: blur(0px);
  overflow-y: hidden;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 40px; 
}
.main-title {
  /* max-width: 436px; */
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  z-index: 999;
}
.order-service-button {
  
  padding: 12px 24px;
  color: #fafafa;
  background-color: transparent;
  opacity: 0.7;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fafafa;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
.main-title {
  /* max-width: 424px; */
  font-size: 68px;
  font-weight: 500;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
      flex-direction: row;
    }
  .hero-section {
    height: 100vh;
  }
  .main-title {
    /* margin-left: 160px;
    margin-left: auto;
    margin-right: auto; */
    font-size: 80px;
    font-weight: 400;
  }
  .order-service-button {
    font-weight: 600;
    transition: all 250ms linear;
  }
  .order-service-button:hover,
  .order-service-button:focus {
    background-color: #07070750;
    border-color: #07070750;
    transform: translateY(-5px);
  }
}