.custom-container {
    overflow: hidden;
    padding: 0;
}
.swiper-container {
    width: 1280px;
    height: 400px;
    margin: 0 auto;
   
    overflow: hidden;
}



.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 768px) {
    
    .swiper-container {
        width: 768px;
        overflow: hidden;
        }
}
@media (min-width: 1280px) {
    .swiper-container {
        width: 1280px;
    }
}